"*":
  "exception-reporting":
    userId: "c3292567-71f3-72b4-a0b1-919c653d5645"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "minimap-git-diff"
      "minimap-highlight-selected"
      "minimap"
    ]
    themes: [
      "atom-solarized-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    softTabs: false
    tabLength: 4
    showInvisibles: true
    showIndentGuide: true
    fontSize: 16
    tabType: "hard"
  minimap:
    plugins:
      "git-diff": true
      "highlight-selected": true
  "git-plus": {}
