packages: [
  "atom-beautify"
  "atom-solarized-dark-ui"
  "autocomplete-clang"
  "autocomplete-python"
  "change-case"
  "clang-format"
  "clipboard-plus"
  "dash"
  "ex-mode"
  "file-icons"
  "git-control"
  "git-log"
  "highlight-line"
  "highlight-selected"
  "language-cmake"
  "linter"
  "linter-clang"
  "linter-flake8"
  "linter-gcc"
  "linter-pep8"
  "linter-pylama"
  "linter-pylint"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "package-sync"
  "preview"
  "script"
  "scroll-sync"
  "switch-header-source"
  "symbol-gen"
  "symbols-tree-view"
  "vim-mode-clipboard-plus"
  "vim-mode-plus"
]
