packages: [
  "atom-beautify"
  "atom-solarized-dark-ui"
  "autocomplete-clang"
  "autocomplete-python"
  "change-case"
  "file-icons"
  "git-control"
  "git-log"
  "highlight-line"
  "highlight-selected"
  "linter"
  "linter-clang"
  "linter-pylama"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "package-sync"
  "preview"
  "script"
  "scroll-sync"
  "seti-syntax"
  "seti-ui"
  "switch-header-source"
  "symbol-gen"
  "symbols-tree-view"
]
